/* header */
.header-img {
    width: 100%;
    height: auto;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1px;
    margin: 2rem 1rem ;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;

    p{
    font-size: 0.6rem;
    }
}
